#container-fluid{
    background-image: url(https://i.pinimg.com/originals/7c/67/8b/7c678bffd31dc92dc80d95d471b0e83d.png);
    background-position: top;
    background-repeat:repeat-y;

}
img#logo{
    margin: 0 auto;
    width: 15%;
}

